.temperatures {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  max-height: 6.25rem;
  
  &__current {
    font-size: 6.5rem;
    font-weight: 200;
    line-height: 1.2;
  }
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 6rem;

    .temperature {
      &__unity {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 10px;
      }

      &__partials {
        display: flex;
        flex-direction: column;
        gap: 8px;
  
        .partials__max, 
        .partials__min {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 300;
        }
      }
    }
  }
}