:root {
  --white: #FFFFFF;
  --white-2: #F8F8F8;
  --black: #1F1F1F;
  --black-2: #0F0F0F;

  --light-blue: #B7E7EF;
  --middle-blue: #57CBDC;
  --dark-blue: #3BA1B5;

  --light-gray: #BBBEC4;
  --middle-gray: #616978;
  --dark-gray: #3C4353;

  --light-sand: #E1E1E1;
  --middle-sand: #A6A6A6;
  --dark-sand: #6D6D6D;

}