$color-dallol-light: rgba(82, 60, 83, 1);
$color-dallol-dark: rgba(196, 187, 195, 1);
$color-dallol-font: #FFF;

$color-fairbanks-light: rgba(60, 83, 72, 1);
$color-fairbanks-dark: rgba(187, 196, 190, 1);
$color-fairbanks-font: #FFF;

$color-london-light: rgba(59, 161, 181, 1);
$color-london-dark: rgba(183, 231, 239, 1);
$color-london-font: #FFF;

$color-recife-light: rgba(60, 67, 83, 1);
$color-recife-dark: rgba(187, 190, 196, 1);
$color-recife-font: #FFF;

$color-vancouver-light: rgba(109, 109, 109, 1);
$color-vancouver-dark: rgba(225, 225, 225, 1);
$color-vancouver-font: #1F1F1F;

$color-yakutsk-light: rgba(83, 60, 60, 1);
$color-yakutsk-dark: rgba(196, 187, 187, 1);
$color-yakutsk-font: #FFF;