.home__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 1rem;

  .home__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;

    span {
      color: var(--white);
      font-size: 2.25rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    p {
      font-weight: 100;
      font-size: 1.25rem;
    }
  }

  .home__main{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      margin-top: 1rem;
    }
  }


  .cities__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: stretch;

    .custom-link { 
      color: #fff;
      text-align: center;
    }

    
  }

}




